.footer {
  background-color: $bg-dark;
  display: flex;
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-flex {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}

.footer-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.footer-box-title {
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white;
  margin: 0;
  margin-bottom: 20px;
}

.media-box {
  margin-top: 60px;
  @media (min-width: $tablet) {
    margin-left: 165px;
    margin-top: 0;
  }
  @media (min-width: $pc) {
    margin-left: 70px;
  }
}

.email-box {
  margin-top: 60px;
}

/* PC version */

@media (min-width: $pc) {
  .footer-flex {
    width: fit-content;
  }

  .footer-box {
    text-align: start;
  }

  .email-box {
    margin-top: 0;
    margin-left: 93px;
    width: fit-content;
  }

  .footer > .container {
    display: flex;
    align-items: baseline;
  }
}

.address {
  margin-top: 20px;
}

.address_item:not(:first-child) {
  margin-top: 9px;
}

.address_contact {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  text-decoration: none;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.media-list {
  display: flex;
  justify-content: center;
}

.media_item {
  display: block;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $primary-blue-color;
  }
}

.media_icon-instagram {
  background-image: url(../images/media-icons/instagram.svg);
  margin-right: 10px;
}

.media_icon-twitter {
  background-image: url(../images/media-icons/twitter.svg);
  margin-right: 10px;
}

.media_icon-facebook {
  background-image: url(../images/media-icons/facebook.svg);
  margin-right: 10px;
}

.media_icon-linkedin {
  background-image: url(../images/media-icons/linkedin.svg);
}

.address_street {
  margin: 0;
  color: $white;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.email-input {
  display: flex;
  align-items: center;
  padding-left: 16px;
  margin: auto;

  width: 100%;
  max-width: 450px;
  height: 50px;

  @media (min-width: $pc) {
    width: 358px;
  }

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscription-button {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;

  margin: 20px auto 0 auto;
  width: 200px;
  height: 50px;

  cursor: pointer;
  background-color: $primary-blue-color;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  color: $white;

  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: $btn-hover-color;
  }
}

.icon-send {
  width: 24px;
  height: 24px;

  margin-left: 10px;

  fill: $white;
}

@media (min-width: $pc) {
  .subscription-form {
    display: flex;
  }

  .subscription-button {
    margin: 0;
    margin-left: 12px;
  }
}

