.clients_list {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: $pc) {
    display: flex;
  }
}

.clients_item {
  width: 100%;
}

.clients_link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90px;

  border: 1px solid $icons-gray;
  border-radius: 4px;
  fill: $icons-gray;

  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $primary-blue-color;
    fill: $primary-blue-color;
  }
}
