$primary-blue-color: #2196f3;
$btn-hover-color: #188ce8;
$primary-titles-color: #212121;
$text-gray: #757575;
$icons-gray: #afb1b8;
$black: #000;
$white: #fff;
$bg-light: #f5f4fa;
$bg-dark: #2f303a;

$mobile: 480px;
$tablet: 768px;
$pc: 1200px;
