.team {
  background-color: $bg-light;
}

.team_title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-titles-color;
  margin: 0;

  @media (min-width: $pc) {
    font-size: 36px;
  }
}
